

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1605813171444-0 {top: 0px; left: 140px; height: 20px; width: 260px;
        }
        .silex-id-1605813191490-1 {top: 40px; left: 20px; height: 20px; width: 60px; font-size: 12px;
        }
        .silex-id-1605813217594-2 {top: 40px; left: 100px; height: 60px; width: 400px; font-size: 12px;
        }
        .silex-id-1605813251538-3 {top: 120px; left: 20px; height: 20px; width: 460px; font-size: 12px;
        }
        .silex-id-1605813472426-4 {top: 160px; left: 20px; height: 20px; width: 460px; font-size: 12px;
        }
        .silex-id-1605813507258-5 {top: 200px; left: 20px; height: 20px; width: 460px; font-size: 12px;
        }
        .silex-id-1605813553866-6 {top: 240px; left: 20px; height: 40px; width: 60px; font-size: 12px;
        }
        .silex-id-1605813580786-7 {top: 240px; left: 100px; height: 40px; width: 400px; font-size: 12px;
        }
        .silex-id-1605813955196-10 {top: 280px; left: 20px; height: 100px; width: 520px; font-family: Arial, Arial, Helvetica, sans-serif; padding: 10px;
        }
        .silex-id-1605813988907-11 {top: 120px; left: 400px; height: 1.4em; width: 100px;
        }
        .silex-id-1605813988907-11 > select {font-size: 12px;
        }
        .silex-id-1605814048035-12 {top: 160px; left: 400px; height: 1.4em; width: 100px;
        }
        .silex-id-1605814072995-13 {top: 200px; left: 400px; height: 1.4em; width: 100px;
        }
        .silex-id-1606892197710-0 {top: 280px; left: 20px; height: 100px; width: 520px; font-family: Arial, Arial, Helvetica, sans-serif; padding: 10px;
        }
        .silex-id-1605813618915-8 {top: 400px; left: 20px; height: 180px; width: 360px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 686px; height: 635px;
        }
        .silex-id-1606894753547-1 {top: 440px; left: 400px; height: 140px; width: 240px; box-sizing: content-box; padding: 0px; overflow: visible;
        }
    